In [1]:
import pandas as pd
import numpy as np

In [2]:
# csvファイルからPandas DataFrameへ読み込み
train = pd.read_csv('train.csv', delimiter=',', low_memory=False)
test = pd.read_csv('test.csv', delimiter=',', low_memory=False)

# 冒頭を表示して確認
train.head()

,date_time,deg_C,relative_humidity,absolute_humidity,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,target_carbon_monoxide,target_benzene,target_nitrogen_oxides
0,2010-03-10 18:00:00,13.1,46.0,0.7578,1387.2,1087.8,1056.0,1742.8,1293.4,2.5,12.0,167.7
1,2010-03-10 19:00:00,13.2,45.3,0.7255,1279.1,888.2,1197.5,1449.9,1010.9,2.1,9.9,98.9
2,2010-03-10 20:00:00,12.6,56.2,0.7502,1331.9,929.6,1060.2,1586.1,1117.0,2.2,9.2,127.1
3,2010-03-10 21:00:00,11.0,62.4,0.7867,1321.0,929.0,1102.9,1536.5,1263.2,2.2,9.7,177.2
4,2010-03-10 22:00:00,11.9,59.0,0.7888,1272.0,852.7,1180.9,1415.5,1132.2,1.5,6.4,121.8

In [3]:
train.shape

(7111, 12)

In [4]:
# 冒頭を表示して確認
test.head()

,date_time,deg_C,relative_humidity,absolute_humidity,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5
0,2011-01-01 00:00:00,8.0,41.3,0.4375,1108.8,745.7,797.1,880.0,1273.1
1,2011-01-01 01:00:00,5.1,51.7,0.4564,1249.5,864.9,687.9,972.8,1714.0
2,2011-01-01 02:00:00,5.8,51.5,0.4689,1102.6,878.0,693.7,941.9,1300.8
3,2011-01-01 03:00:00,5.0,52.3,0.4693,1139.7,916.2,725.6,1011.0,1283.0
4,2011-01-01 04:00:00,4.5,57.5,0.4650,1022.4,838.5,871.5,967.0,1142.3

In [5]:
test.shape

(2247, 9)

In [6]:
# csvファイルからPandas DataFrameへ読み込み
sample = pd.read_csv('sample_submission.csv', delimiter=',', low_memory=False)

# 冒頭を表示して確認
sample.head()

,date_time,target_carbon_monoxide,target_benzene,target_nitrogen_oxides
0,2011-01-01 00:00:00,2.0,10.0,300.0
1,2011-01-01 01:00:00,2.0,10.0,300.0
2,2011-01-01 02:00:00,2.0,10.0,300.0
3,2011-01-01 03:00:00,2.0,10.0,300.0
4,2011-01-01 04:00:00,2.0,10.0,300.0

In [7]:
# trainの欠損値の確認
train.isnull().sum()

date_time                 0
deg_C                     0
relative_humidity         0
absolute_humidity         0
sensor_1                  0
sensor_2                  0
sensor_3                  0
sensor_4                  0
sensor_5                  0
target_carbon_monoxide    0
target_benzene            0
target_nitrogen_oxides    0
dtype: int64

In [8]:
# trainの基本的統計量を表示
train.describe(include='all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
date_time,7111,7111,2010-04-20 18:00:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
deg_C,7111,NaN,NaN,NaN,20.878,7.93792,1.3,14.9,20.7,25.8,46.1
relative_humidity,7111,NaN,NaN,NaN,47.561,17.3987,8.9,33.7,47.3,60.8,90.8
absolute_humidity,7111,NaN,NaN,NaN,1.11031,0.39895,0.1988,0.8559,1.0835,1.40415,2.231
sensor_1,7111,NaN,NaN,NaN,1091.57,218.538,620.3,930.25,1060.5,1215.8,2088.3
sensor_2,7111,NaN,NaN,NaN,938.065,281.979,364,734.9,914.2,1124.1,2302.6
sensor_3,7111,NaN,NaN,NaN,883.903,310.456,310.6,681.05,827.8,1008.85,2567.4
sensor_4,7111,NaN,NaN,NaN,1513.24,350.18,552.9,1320.35,1513.1,1720.4,2913.8
sensor_5,7111,NaN,NaN,NaN,998.336,381.538,242.7,722.85,928.7,1224.7,2594.6
target_carbon_monoxide,7111,NaN,NaN,NaN,2.08622,1.44711,0.1,1,1.7,2.8,12.5
target_benzene,7111,NaN,NaN,NaN,10.2371,7.69443,0.1,4.5,8.5,14.2,63.7
target_nitrogen_oxides,7111,NaN,NaN,NaN,204.067,193.928,1.9,76.45,141,260,1472.3